<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meme Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="theme-color" content="#455a64" />

    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
        media="screen,projection" />
    <link rel="stylesheet" href="http://bgrins.github.com/spectrum/spectrum.css">
    <link type="text/css" rel="stylesheet" href="styles.css" />
</head>

<body class="blue-grey lighten-4" ng-app="myApp" ng-controller="myCtrl">
    <header>
        <input id="select-image" class="invisible" type="file" accept="image/x-png,image/jpeg">

        <nav class="blue-grey darken-4">
            <div class="nav-wrapper">
                <a class="brand-logo">Meme Generator</a>
        
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a onclick="selectImage()"><i class="material-icons left">insert_photo</i>Custom Image</a></li>
                    <li class="active"><a class="dropdown-trigger" data-target="dropdown1">{{values.category}} Memes<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
        
                <a data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
        
        <ul id="dropdown1" class="dropdown-content">
            <li><a class="blue-text" ng-click="updateCategory('All')">All</a></li>
            <li class="divider"></li>
            <li ng-repeat="cat in categories"><a class="blue-text" ng-click="updateCategory(cat)">{{cat}}</a></li>
        </ul>
        
        <ul id="slide-out" class="sidenav">
            <li><a href="/portfolio/trending.html"><i class="material-icons left">trending_up</i>Trending</a></li>
            <li><a href="/portfolio/saved.html"><i class="material-icons left">save</i>Saved</a></li>
        </ul>
    </header>

    <main>
        <div class="page">
            <h4>{{values.category}} Memes</h4>

            <br>

            <div class="row">
                <div ng-repeat="image in images" ng-if="values.category == 'All' || image.cats.indexOf(values.category) >= 0" ng-click="openGenerator(image)" class="image-thumb tooltipped col s4 m2" data-tooltip="{{image.title}}">
                    <div ng-style="{'background-image': 'url({{image.url}})'}"></div>
                </div>
            </div>
        </div>

        <div id="modal1" class="modal bottom-sheet modal-fixed-footer">
            <div class="modal-content">
                <h4>{{values.currentImage.title}} Meme</h4>
                <br>

                <div class="mg row">
                    <div id="mg-image" class="mg-image black col s12 m6">
                        <div>
                            <div ng-mouseup="textMoved(text, $event)" ng-repeat="text in values.currentImage.texts" ng-style="{'top': text.top, 'left': text.left, 'font-size': (text.size / 10) + 'em', 'font-family': text.font, 'color': text.color, 'text-shadow': text.stroke + ' 0px 0px 5px, '+ text.stroke +' 0px 0px 5px, '+text.stroke+' 0px 0px 5px, '+text.stroke+' 0px 0px 5px, '+text.stroke+' 0px 0px 5px, '+text.stroke+' 0px 0px 5px'}" class="text-holder ui-widget-content draggable">{{text.text}}</div>
                            <img ng-src="{{values.currentImage.url}}" crossOrigin="Anonymous" draggable="false">
                        </div>
                    </div>

                    <div class="mg-props col s12 m6">
                        <div ng-repeat="text in values.currentImage.texts">
                            <div class="row">
                                <div class="input-field col s8">
                                    <input ng-model="text.text" />
                                </div>

                                <div class="col s4 text-manage">
                                    <a ng-click="values.currentImage.texts.splice(values.currentImage.texts.indexOf(text))" class="right red btn-floating"><i class="material-icons">delete</i></a>
                                    <a ng-click="text.editor = !text.editor" class="right blue-grey darken-4 btn-floating"><i class="material-icons">settings</i></a>
                                </div>
                            </div>

                            <div ng-style="{'display': text.editor ? 'block' : 'none'}" class="row">
                                <div class="input-field col s6">
                                    <select ng-model="text.font" ng-options="font as font for font in fonts"></select>
                                </div>

                                <div class="input-field col s3" style="margin-top: 15px;">
                                    <input ng-model="text.color" type="text" class="color-picker">
                                    <input ng-model="text.stroke" type="text" class="color-picker">
                                </div>

                                <div class="input-field col s3" style="margin-top: 13px;">
                                    <input ng-model="text.size" type="range" min="5" max="50" />
                                </div>
                            </div>
                        </div>
                        <div class="new-box-holder row center-align">
                            <a ng-click="newTextbox()" class="btn red"><i class="material-icons left">add</i>New Textbox</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-blue btn-flat">Cancel</a>
                <a ng-click="downloadMeme()" class="waves-effect waves-blue btn-flat">Download</a>
            </div>
        </div>
    </main>

    <footer class="page-footer blue-grey darken-3">
        <div class="footer-copyright">
            <div class="container center-align">&copy; 2018 Meme Generator - Desi Pixels</div>
        </div>
    </footer>

    <div id="temp" class="mg-image invisible"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="http://bgrins.github.com/spectrum/spectrum.js"></script>
    <script type="text/javascript" src="html2canvas.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>